    [Unit]
    Description=Firewall
    DefaultDependencies=no
    Before=network-pre.target
    Wants=network-pre.target
    After=local-fs.target

    [Service]
    ExecStop=/etc/init.d/firewall stop
    ExecStart=/etc/init.d/firewall start
    RemainAfterExit=yes
    Type=oneshot
